<div>
    <h3>User list</h3>
    <span><div class="btn-floating btn-large waves-effect waves-light teal" ng-click="addUser()"><i class="material-icons">add</i></div></span>
</div>

<br>
<table class="highlight">
    <thead>
        <tr>
            <th data-field="name">Name</th>
            <th data-field="surname">Surname</th>
            <th data-field="email">Email</th>
            <th data-field="role">Role</th>
            <th data-field="date">Date</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="user in users">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
