<div class="clearfix">
    <h3 class="section-title">User list</h3>
    <div class="sign-out-button waves-effect waves-light btn" ng-click="signOut()">sign out</div>
</div>

<div class="btn-floating btn-large waves-effect waves-light teal" ng-click="addUser()"><i class="material-icons">add</i></div>
<br>

<br><div class="row">
    <div class="input-field col s4">
        <input id="search-term"
               type="text"
               class="validate"
               ng-model="model.search"
        >
        <label class="active" for="search-term">Search Term</label>
    </div>
</div>

<br>
<table class="highlight">
    <thead>
        <tr>
            <th data-field="name"
                ng-click="orderByField='name'; reverseSort = !reverseSort"
            >
                Name <span ng-show="orderByField == 'name'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
            </th>
            <th data-field="surname"
                ng-click="orderByField='surname'; reverseSort = !reverseSort"
            >
                Surname <span ng-show="orderByField == 'surname'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
            </th>
            <th data-field="email"
                ng-click="orderByField='email'; reverseSort = !reverseSort"
            >
                Email <span ng-show="orderByField == 'email'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
            </th>
            <th data-field="role"
                ng-click="orderByField='role'; reverseSort = !reverseSort"
            >
                Role <span ng-show="orderByField == 'role'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
            </th>
            <th data-field="date"
                ng-click="orderByField='dateCreated'; reverseSort = !reverseSort"
            >
                Date <span ng-show="orderByField == 'dateCreated'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span>
            </th>
        </tr>
    </thead>
    <tbody>
    <tr dir-paginate="user in list | filter:model.search | orderBy:orderByField:reverseSort | itemsPerPage:5">
            <td>{{user.name}}</td>
            <td>{{user.surname}}</td>
            <td>{{user.email}}</td>
            <td>{{user.role}}</td>
            <td>{{user.dateCreated | date:'dd/MM/yy'}}</td>
        </tr>
    </tbody>
</table>

<div>
    <dir-pagination-controls
        max-size="5"
    >
    </dir-pagination-controls>
</div>

